*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

#container{
    width: 970px;
    border: 1px solid black;
    margin: auto;

}

#head{
    background: darkgray;
    padding: 15px

}

#content{
    margin-top: 15px;
    overflow: hidden;
}

.leftBlock{
    background: #cccccc;
    padding: 15px;
    width: 70%;
    float: left;

}

.rightBlock{
    background: green;
    padding: 15px;
    width: 30%;
    float: right;
}


#footer {
    margin-top: 15px;
    background: aqua;
    padding: 15px;
}


.regFormItem{
    margin: inherit;
}

